### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [175]:
# Dependencies and Setup
import pandas as pd
import math

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

#Create a dataframe to view the initial data
purchase_data_df = pd.DataFrame(purchase_data)
purchase_data_df.head(20)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [169]:
num_bins = [0, 10]
list_appender = 10
large_age = purchase_data_df["Age"].max()
round_up = round(large_age/5)
iterations = int(round_up/5)
final_list = [num_bins.append(int(list_appender + 5)) for x in range(iterations)]
print(final_list)

[None]

## Player Count

* Display the total number of players

In [170]:
#find 
unique_id = purchase_data["SN"].unique()
unique_id_count = len(unique_id)
unique_id_count_df = pd.DataFrame({"Total Players": [unique_id_count]})
unique_id_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [171]:
#number of unique items, average price, number of purchases, total revenue
unique_items = len(purchase_data["Item Name"].unique())
average_price = purchase_data["Price"].mean()
number_of_purchases = len(purchase_data)
total_revenue = purchase_data["Price"].sum()

summary_items = pd.DataFrame(
    {"Number of Unique Items": [unique_items],
     "Average Price": [average_price],
     "Number of Purchases": [number_of_purchases],
     "Total Revenue": [total_revenue]
     }
)
summary_items["Average Price"] = summary_items["Average Price"].map("${:.2f}".format)
summary_items["Total Revenue"] = summary_items["Total Revenue"].map("${:.2f}".format)

summary_items

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [172]:
#first I dropped the duplicates of the SNs before counting the gender value counts of each SN
purchase_dropdup = purchase_data_df.drop_duplicates(subset="SN")
gender_count = purchase_dropdup["Gender"].value_counts()
gender_pct = gender_count / unique_id_count * 100
gender_pct_df = pd.DataFrame({"Gender Totals": gender_count, "Gender Percentage": gender_pct})

# Second, I formatted the percentages to round to 2 decimals and include the % symbol
gender_pct_df["Gender Percentage"] = gender_pct_df["Gender Percentage"].map("{:.2f}%".format)

gender_pct_df

                       Gender Totals Gender Percentage
Male                             484            84.03%
Female                            81            14.06%
Other / Non-Disclosed             11             1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [223]:
gender_gb = purchase_data_df.groupby(["Gender"])
gender_pc = gender_gb["Purchase ID"].count()
gender_app = gender_gb["Price"].mean()
gender_tpv = gender_gb["Price"].sum()
gender_atppp = gender_tpv / gender_pct_df["Gender Totals"]

gender_analysis = pd.DataFrame({"Purchase Count": gender_pc, 
                               "Average Purchase Price": gender_app.map("${:.2f}".format), 
                               "Total Purchase Value": gender_tpv.map("${:.2f}".format), 
                               "Avg Total Purchase per Person": gender_atppp.map("${:.2f}".format)})
gender_analysis.head(20)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [224]:
## dynamic bins - this will create a dynamic bins method

# step 1: create bins list
# start bins at 0, 10 - the minimum needed (if ages are less than 10)
bins = [0, 10]
list_appender = 10

In [225]:
## find the maximum age, then determine iterations by rounding up to the nearest 5 
# NOTE: (nothing changes if already divisible by 5 i.e. 20, 35, etc)
large_age = purchase_data_df["Age"].max()
iterations = math.ceil((large_age + 1) / 5) - 2

In [226]:
# skip the for loop to add anything if max number is less than 10...
# otherwise add a number 5 greater than previous list_appender to create bins (for x-interations)
if large_age < 10 :
    bins = [0, 10]
else:
    for x in range(iterations):
        bins.append(list_appender + 5)
        list_appender += 5
print(bins)

[0, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [227]:
# step 2: create age_group list
# sets first label to "<10" (for when bins is just [0, 10]), then add string to list for x-iterations
age_groups = ["<10"]
for x in range(iterations):
    age_groups.append(f"{bins[x+1]}-{bins[x+1]+4}")
print(age_groups)

['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40-44', '45-49']

In [264]:
age_stats = pd.cut(purchase_data_df["Age"], bins, labels=age_groups, include_lowest=True)
purchase_data_df["Age Groups"] = pd.cut(purchase_data_df["Age"], bins, labels=age_groups)
age_group_df = purchase_data_df
# age_grouping = purchase_data_df.groupby("Age Groups")
# age_grouping_df.head(20)
age_group_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Groups
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,15-19
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [263]:
age_gb = age_group_df.groupby(["Age"])
# age_gb_df = pd.DataFrame({"Age Totals": age_gb})
age_gb.head(20)

# same code
# age_gb = age_group_df.groupby(["Age"])
# age_unique = age_gb.nunique()["SN"]
# age_unique_df = pd.DataFrame({"Age Totals": age_unique})
# age_unique_df.head(20)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Groups
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
768,768,Assassasta79,38,Male,92,Final Critic,4.88,35-39
770,770,Lirtosia63,34,Male,12,Dawne,1.02,30-34
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58,25-29
774,774,Jiskjask80,11,Male,92,Final Critic,4.19,10-14
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10

In [266]:
age_pc = age_gb["Purchase ID"].count()
age_app = age_gb["Price"].mean()
age_tpv = age_gb["Price"].sum()
age_atppp = age_tpv / age_gb["Age Groups"]

age_analysis_df = pd.DataFrame({"Purchase Count": age_pc.map("{:.0f}".format), 
                               "Average Purchase Price": age_app.map("${:.2f}".format), 
                               "Total Purchase Value": age_tpv.map("${:.2f}".format), 
                               "Avg Total Purchase per Person": age_atppp.map("${:.2f}".format),
                               "Age Groups": age_group_df})
# age_merge = pd.merge(age_group_df, age_analysis_df, on="SN")

print(age_group_df)
print(age_analysis_df)

ValueError: operands could not be broadcast together with shapes (39,) (39,2)

In [ ]:
# age_stats = pd.cut(purchase_data_df["Age"], bins, labels=age_groups, include_lowest=True)
# purchase_data_df["Age Groups"] = pd.cut(purchase_data_df["Age"], bins, labels=age_groups)
# age_grouping = purchase_data_df.groupby("Age Groups")

# purchase_data_df.head(20)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80